# This requires the latest versions of ufo2ft and glyphsLib to build
git+https://github.com/googlefonts/ufo2ft@87c6881
git+https://github.com/googlefonts/glyphsLib@dac814c
git+https://github.com/notofonts/notobuilder
drawbot-skia>=0.4.8
sh>=1.14.2
bumpfontversion
chevron
