# This requires the latest versions of ufo2ft and glyphsLib to build
ufo2ft>=2.32.0
glyphsLib>=6.2.3
git+https://github.com/notofonts/notobuilder
drawbot-skia>=0.4.8
sh>=1.14.2
bumpfontversion
chevron
